@-webkit-keyframes material-dropdown-open {
  0% {
    max-height: 45px;
    opacity: 0;
    overflow: hidden !important;
  }
  15% {
    max-height: 45px;
    opacity: 1;
    overflow: hidden !important;
  }
  100% {
    max-height: 250px;
    opacity: 1;
    overflow: hidden !important;
  }
}

.material-dropdown {
  .dropdown;
}

.dropdown-menu {
  .dropdown-menu;
  margin-top : 0;
  padding: 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  border: none;
  top: 0;
  left: 0;
  .rounded-corners(0);

  li a{
    padding: 0 16px;
    height: 48px;
    .ellipsis;
    text-decoration: none;
    line-height: 43px;
  }

  li.divider {
    margin: 0;
  }
}

.open {
  > .dropdown-menu {
    max-height: 250px;
    opacity: 1;
    -webkit-animation : material-dropdown-open 1s;
  }
}