.material-dropdown {
  .dropdown;
}

.dropdown-menu {
  .dropdown-menu;
  margin-top : 0;
  padding: 0;
  border: none;
  top: 0;
  left: 0;
  .rounded-corners(0);
  background-color: @grey50;

  li a{
    font-size: 14px;
    font-family: 'robotoregular';
    padding: 0 16px;
    height: 48px;
    .ellipsis;
    text-decoration: none;
    line-height: 43px;
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -ms-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border : none;
    cursor: pointer;
    text-align: left;

    &:hover {
      background-color: @blue50;
    }

    &.selected {
      background-color: @blue;
      color : @grey2000;
      cursor: default;
    }

    &.disabled {
      cursor: default;
      background-color: @grey400;
      color: @grey600;
    }
  }

  li.divider {
    margin: 0;
    border: none;
  }
}

// Open state for the dropdown
.open {
  // Show the menu
  > .dropdown-menu {
    display: block;
  }

  // Remove the outline when :focus is triggered
  > a {
    outline: 0;
  }
}