@import (reference) "../js/libs/vendors/bootstrap/less/input-groups.less";

.text-field-group{
  .input-group;

  .text-field-group-addon{
    .input-group-addon;
    vertical-align: top;
    padding-top : 20px;
    background-color: transparent;
    border: none;
    color: @grey600;

    i{
      font-size: 30px;
    }
  }

  .floating-label {
    width: 100%;
    input.text-field {
      width: 100%;
    }
  }
}