.text-field-group{
  .input-group;

  .text-field-group-addon{
    .input-group-addon;

    display: table-cell;
    width: 1%;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;

    vertical-align: top;
    padding-top : 20px;
    background-color: transparent;
    border: none;
    color: @grey600;

    i{
      font-size: 30px;
    }
  }

  > .floating-label {
    display: table-cell;
    width: 100%;
    input.text-field {
      width: 100%;
    }
  }
}