/**
 * Create border-colors
 */
.colors(@index, @colors, @type) when (@index > 0) {
    .colors(@index - 1, @colors, @type);
    @color : e(extract(@colors, @index));
    &.@{color} {
        @{type} : @@color;
    }
}
.colors-focus(@index, @colors, @type) when (@index > 0) {
    .colors-focus(@index - 1, @colors, @type);
    @color : e(extract(@colors, @index));
    &.@{color}:focus {
        @{type} : @@color;
    }
}

.rounded-corners (@radius: @roudedCorner) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.rounded-corners-top (@radius: @roudedCorner) {
  -webkit-border-radius: @radius @radius 0 0;
  -moz-border-radius: @radius @radius 0 0;
  -ms-border-radius: @radius @radius 0 0;
  -o-border-radius: @radius @radius 0 0;
  border-radius: @radius @radius 0 0;
}

.rounded-corners-bottom (@radius: @roudedCorner) {
  -webkit-border-radius: 0 0 @radius @radius;
  -moz-border-radius: 0 0 @radius @radius;
  -ms-border-radius: 0 0 @radius @radius;
  -o-border-radius: 0 0 @radius @radius;
  border-radius: 0 0 @radius @radius;
}

.rounded-corners-left (@radius: @roudedCorner) {
  -webkit-border-radius: @radius 0 0 @radius;
  -moz-border-radius: @radius 0 0 @radius;
  -ms-border-radius: @radius 0 0 @radius;
  -o-border-radius: @radius 0 0 @radius;
  border-radius: @radius 0 0 @radius;
}

.rounded-corners-right (@radius: @roudedCorner) {
  -webkit-border-radius: 0 @radius @radius 0;
  -moz-border-radius: 0 @radius @radius 0;
  -ms-border-radius: 0 @radius @radius 0;
  -o-border-radius: 0 @radius @radius 0;
  border-radius: 0 @radius @radius 0;
}

.rounded-corners-custom (@topleft: @roudedCorner, @topright: @roudedCorner, @bottomleft: @roudedCorner, @bottomright: @roudedCorner) {
  -webkit-border-radius: @topleft @topright @bottomright @bottomleft;
  -moz-border-radius: @topleft @topright @bottomright @bottomleft;
  -ms-border-radius: @topleft @topright @bottomright @bottomleft;
  -o-border-radius: @topleft @topright @bottomright @bottomleft;
  border-radius: @topleft @topright @bottomright @bottomleft;
}

.box-shadow(@param) {
  -moz-box-shadow:    @param;
  -webkit-box-shadow: @param;
  -o-box-shadow:      @param;
  box-shadow:         @param;
}