.z-depth-0{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

.z-depth-1{
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.3);
}

.z-depth-2{
  -moz-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.38);
  -o-box-shadow: 00px 6px 20px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.38);
}

.z-depth-3{
  -moz-box-shadow: 0px 17px 50px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 17px 50px 0px rgba(0, 0, 0, 0.38);
  -o-box-shadow: 0px 17px 50px 0px rgba(0, 0, 0, 0.38);
  box-shadow: 0px 17px 50px 0px rgba(0, 0, 0, 0.38);
}

.z-depth-4{
  -moz-box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 25px 55px 0px rgba(0, 0, 0, 0.45);
}

.z-depth-5{
  -moz-box-shadow: 0px 40px 77px 0px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 0px 40px 77px 0px rgba(0, 0, 0, 0.45);
  -o-box-shadow: 0px 40px 77px 0px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 40px 77px 0px rgba(0, 0, 0, 0.45);
}