.tooltip {
  .tooltip;
}

.tooltip-inner {
  .tooltip-inner;
  background-color: @grey700;
  .rounded-corners(2px);
  padding: 4px 8px;
  height: 22px;
  font-size: 10px;
  font-family: robotomedium;
  opacity: 0.9;
}

.tooltip-arrow {
  display: none;
}